.text-wrap{
    width:300px;
    border:1px solid;
    padding:12px;
}
.text-wrap p {
    text-indent: -1em;
    padding-left: 1em;
    word-break: break-all;
}
.text-wrap > p:first-child{
    margin-bottom:24px;
}